
// Colors 

$color-primary: #0a1d37;
$color-primary-light: #262a53;
$color-primary-dark: #628395;
$color-white: #fff;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;